* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 90%;
    margin-left: 5%;
    /*position: absolute;
    bottom: 200px;*/
}


img {
    max-width: 50%;
    max-height: 50%;
    text-align: center;
    display: block;
    margin: auto;
    /*background-color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

/*********************/
/*navbar styles*/
/*********************/

.nav{
    padding-top: 2%;
    padding-bottom: 5%;
    list-style:none;
    text-align:right;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 14pt;
}
.nav li{
    display:inline;
    padding-left: 20px;
    padding-right: 20px;
}


.wrapper h1 {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 45pt;
}

.left p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15pt;
}

hr {
    background-color: black;
    width: 12%;
    margin-top: 25px;
    margin-bottom: 25px;
}







/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.37%;
}
.span_2_of_4 {
	width: 48.75%;
}
.span_1_of_4 {
	width: 23.12%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
    .nav li {
        width: 90%;
        display: block;
        text-align: right;
        padding: 10px 0 10px 0;
    }
}
