    /*global page stylings*/


* {
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: block;
    margin: auto;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.background-grey {
    background-color: #EDEDED;
}

.portfolio-hero {
    height: 600px;
    background-color: #98433F;
    position: relative;
}

.portfolio-hero h1, .portfolio-hero p,  .feature-section h1, .back-link, .portfolio-list-header, .portfolio-process h1 {
    color: white;
    font-family: Adelle-sans, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35pt;
}

.portfolio-hero p {
    font-family: Adelle, serif;
    font-weight: 400;
    font-size: 15pt;
    padding-top: 30px;
    padding-bottom: 60px;
}

.hero-descr {
    position: absolute;
    bottom: 0;
}

.back-link {
    color: white;
    padding-top: 40px;
    font-size: 15pt;
    font-weight: 600;
}

.portfolio-summary {
    padding-top: 70px;
}

/* lists in the header */
.portfolio-summary ul {
    list-style-type: none;
    font-family: Adelle, serif;
    font-weight: 400;
}

.portfolio-list-header {
    color: black;
    font-size: 16pt;
    padding-bottom: 10px;
    font-weight: 600;

}

.portfolio-summary li:nth-child(n+2) {
    padding-bottom: 10px;
    font-size: 10pt;
}

.portfolio-summary li:last-child {
    padding-bottom: 40px;
}

.timeline {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: #41C1B8;
    color: white;
}

/*.timeline h1, .timeline p {
    margin-left: 5%;
}*/

.timeline img {
    width:100%;
}

/*summary paragraphs*/
.portfolio-summary h1, .timeline h1, .portfolio-process h3, .portfolio-partition-o h4 {
    font-family: Adelle-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22pt;
    padding-bottom: 30px;
}

.portfolio-summary p, .timeline p, .portfolio-process p, .portfolio-partition-o p, .inner-list li {
    font-family: Adelle, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;
    line-height: 175%;
    /*padding-bottom: 60px;*/
}

.portfolio-summary p {
    padding-bottom: 60px;
}

/*features styles*/
.feature-section {
    background-color: #41C1B8;
    padding-top: 25px;
    padding-bottom: 100px;
}

.feature-section img {
    max-width: 40%;
}

.feature-section h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 75px;
}

.feature-section h3 {
    color: #1D172D;
    font-family: Adelle-sans, sans-serif;
    font-size: 24pt;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 15px;
}

.feature-section p {
    color:white;
    font-family: Adelle-sans, sans-serif;
    font-size: 15pt;
    font-weight: 600;
    font-style: normal;
}

.portfolio-process .section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*.portfolio-process .section:nth-child(even) {
    background-color: #EDEDED;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}*/

.portfolio-process p+img {
    padding-top: 50px;
}


.portfolio-process h1 {
    text-align: center;
    color: #1D172D;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 15px;
}

.portfolio-process hr {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #1D172D;
}

.portfolio-partition-o {
    background-color: #FB5F31;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.portfolio-partition-o p {
    padding-bottom: 0px;
}

.inner-list li {
    /*list-style-type: none;*/
    margin-left: 50px;
    font-size: 11pt;
    padding-bottom: 15px;
}

.portfolio-footer-white {
    height: 250px;
}


.portfolio-footer-white .back-link {
    color: black;
    text-align: right;
}


.process-note {
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background-switch-b {
    background-color: #41C1B8;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 100%;
    position: relative;
}

.background-switch-b img {
    bottom: 0;
    max-height: 350px;
}

.button span {
    font-family: adelle-sans, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    font-style: normal;
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 100px;
}

.button:hover span {
    color: #41C1B8;
    background-color: white;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.41%;
}
.span_10_of_12 {
  	width: 82.83%;
}

.span_9_of_12 {
  	width: 74.25%;
}

.span_8_of_12 {
  	width: 65.66%;
}

.span_7_of_12 {
  	width: 57.08%;
}

.span_6_of_12 {
  	width: 48.5%;
}

.span_5_of_12 {
  	width: 39.91%;
}

.span_4_of_12 {
  	width: 31.33%;
}

.span_3_of_12 {
  	width: 22.75%;
}

.span_2_of_12 {
  	width: 14.16%;
}

.span_1_of_12 {
  	width: 5.583%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%;
	}
}

@media only screen and (min-width: 1500px) {
    .container {
        padding-left: 20%;
        padding-right: 20%;
    }
}
