* {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 90%;
    margin-left: 5%;
    /*position: absolute;
    bottom: 200px;*/
}


img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    display: block;
    margin: auto;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: #EEEEEE;
    padding: 10px 10px 10px 10px;
}


/*********************/
/*navbar styles*/
/*********************/

.nav{
    padding-top: 2%;
    padding-bottom: 5%;
    list-style:none;
    text-align:center;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 14pt;
}
.nav li{
    display:inline;
    padding-left: 20px;
    padding-right: 20px;
}



.hero {
    padding-top: 18%;
    padding-bottom: 18%;
    background-image: url();
}

.hero h1 {
    font-family: Roboto, sans-serif;
    font-weight: 800;
    font-size: 70pt;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.hero h4 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30pt;
    line-height: 135%;
}

.portfolio h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 50pt;
    text-transform: uppercase;
    margin-bottom: 40px;
}

hr {
    margin-bottom: 60px;
    width: 15%;
    background-color: black;
}

.row {
    height: 500px;
}

.portfolio h5 {
    font-family: Roboto Mono, sans-serif;
    font-weight: 700;
    font-size: 24pt;
    margin-top: 20px;
    margin-bottom: 10px;
}

.portfolio h6 {
    font-family: Roboto Mono, sans-serif;
    font-weight: 400;
    font-size: 15pt;
    color: grey;
}








/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65.66%; }
.span_1_of_3 { width: 31.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
    .nav li {
        width: 90%;
        display: block;
        text-align: right;
        padding: 10px 0 10px 0;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h4 {
        font-size: 20pt;
    }
}
