.main-text {
    text-align: left;
    font-family: Roboto, sans-serif;
}

.main-text h4 {
    font-weight: 700;
    font-size: 20pt;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.main-text h5 {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 25px;
}

.bold-text, .list-header{
    font-weight: 700;
}


.main-text ul {
    list-style-type: disc;
    list-style-position: inside;
    -webkit-columns: 2;
    -moz-columns: 2;
    -o-columns: 2;
    columns: 2;
}

.main-text li {
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 5px;
}

.list-header {
    font-size: 18pt;
    display: block;
    margin-bottom: 15px;

}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

@media only screen and (min-width: 1367px) {
    .wrapper p {
        width: 75%;
        margin-left: 0;
    }
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
    .main-text ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        -o-columns: 1;
        columns: 1;
    }
}
